@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&family=Lato&family=Montserrat:wght@700&display=swap');

body {
  background-color: rgb(241, 241, 203);
  font-family: 'Lato', sans-serif;
}

#clipboard-data {
  margin-bottom: 140px;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.main {
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 200px;
  width: 400px;
}

.heading {
  display: inline;
  color: #000000;
  text-align: center;
  vertical-align: text-top;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  letter-spacing: -4px;
  line-height: auto;
  border-style: hidden;
  outline: none;
  width: 206px;
}

.base {
  background-color: #e9df86;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.7);
}

.header {
  position: relative;
  background-color: #daa520;
  height: 50px;
  width: 100%;
  border-radius: 23px 23px 0px 0px;
}

.text-main {
  padding: 22px;
  overflow-y: scroll;
  height: 80px;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}

.rectangle1 {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  border: none;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9df86;
}

#input {
  bottom: 20px;
  height: 20px;
  width: 60vw;
  padding: 15px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: #e9df86;
  color: black;
  font-size: 18px;
  border: 2px solid rgba(0, 0, 0, 0.7);
}

#clear {
  height: 53px;
  width: 53px;
  float: right;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 11px;
  background-color: #e9df86;
}

#send {
  height: 53px;
  width: 53px;
  cursor: pointer;
  border: 1px solid black;
  background-color: #e9df86;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  font-size: 18px;
}

#input:focus {
  outline: none;
}

.copy {
  background-color: #daa520;
  border: none;
  position: absolute;
  top: 9px;
  right: 18px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.copy-icon {
  position: absolute;
  right: 76px;
  top: 11px;
  height: 22px;
  width: 22px;
}

::placeholder {
  color:rgba(0, 0, 0, 0.7);
  font-family: 'Lato', sans-serif;
}

img {
  aspect-ratio: auto;
  height: 76px;
}

/* scrollbar behaviour */
/* width */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

div::-webkit-scrollbar {
  height: 0px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #e9df86;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #daa520;
}

@media only screen and (orientation: portrait) and (pointer:coarse) {
  /* styles for screens with a maximum width of 768px */
  .rectangle1 {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border: none;
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9df86;
  }
  
  #input {
    bottom: 20px;
    height: 50px;
    width: 70vw;
    padding: 15px;
    margin-right: 16px;
    border-radius: 15px;
    background-color: #e9df86;
    color: black;
    font-size: 25px;
    border: 2px solid rgba(0, 0, 0, 0.7);
  }
  
  #send {
    position: relative;
    height: 84px;
    width: 84px;
    cursor: pointer;
    border: 2px solid black;
    font-size: 25px;
    background-color: #e9df86;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.7);
  }

  #clear {
    height: 84px;
    width: 84px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 11px;
    background-color: #e9df86;
    font-size: 25px;
  }
}
